@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@layer base {
  html {
    @apply font-sans;
  }
}

body {
  @apply bg-zinc-950;
}

.testtt::before {
  content: "";
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 50%;
  background: #fff;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

.testtt::after {
  content: "";
  position: absolute;
  bottom: 64px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 50%;
  background: #fff;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

.testtt2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 64px;
  width: 1px;
  height: 100%;
  opacity: 50%;
  background: #fff;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

.testtt2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 64px;
  width: 1px;
  height: 100%;
  opacity: 50%;
  background: #fff;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

.teet1::before {
  content: "";
  position: absolute;
  top: 64px;
  left: 64px;
  width: 3px;
  transform: translate(-50%, -50%);
  height: 3px;
  opacity: 50%;
  background: #fff;
}

.teet1::after {
  content: "";
  position: absolute;
  top: 64px;
  right: 64px;
  width: 3px;
  transform: translate(-50%, -50%);
  height: 3px;
  opacity: 50%;
  background: #fff;
}

.ateet1::before {
  content: "";
  position: absolute;
  bottom: 64px;
  left: 64px;
  width: 3px;
  transform: translate(-50%, -50%);
  height: 3px;
  opacity: 50%;
  background: #fff;
}

.ateet1::after {
  content: "";
  position: absolute;
  bottom: 64px;
  right: 64px;
  width: 3px;
  transform: translate(-50%, -50%);
  height: 3px;
  opacity: 50%;
  background: #fff;
}

.inner-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 100%;
  background: #fff;
  opacity: 30%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #a6e9ff 20%, #a6e9ff 80%, rgba(255, 255, 255, 0) 100%);
}

/* .dots::after {
  content: "";
  @apply absolute top-0 left-2 rounded-full opacity-50 bg-white;
  width: 2px;
  height: 2px;
  transform: translate(-50%, -50%);
}
.dots::before {
  content: "";
  @apply absolute top-0 right-2 rounded-full opacity-50 bg-white;
  width: 2px;
  height: 2px;
  transform: translate(-50%, -50%);
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.tag-text::after {
  content: "";
  @apply absolute top-1/2 left-1/2 bg-blue-500/20 text-blue-100 bg-gradient-to-t from-transparent to-blue-500/20;
  height: calc(100% + 4px);
  width: calc(100% + 8px);
  transform: translate(-50%, -50%) rotate(2deg);
  z-index: -1;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}

.inner-glow-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 100%;
  background: #fff;
  opacity: 20%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
}

.abcd {
  background-color: #b3ebff;
}

.terminal-container {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(-30deg) rotateX(18deg);
  animation: bounce-terminal 4s ease-in-out infinite;
}

@keyframes bounce-terminal {
  0% {
    transform: perspective(5000px) rotateY(-30deg) rotateX(18deg) translateY(0);
  }

  50% {
    transform: perspective(5000px) rotateY(-30deg) rotateX(18deg) translateY(20px);
  }

  100% {
    transform: perspective(5000px) rotateY(-30deg) rotateX(18deg) translateY(0);
  }
}

.inner-glow-round {
  box-shadow: inset -2px -2px 2px 0 rgba(0, 0, 0, 0.3);
}

.shiny-glow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 2px;
  opacity: 0.2;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 1));
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  z-index: 50;
}

.shiny-glow {
  position: relative;
}

.shiny-bg {
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.05) 100%);
}

.shiny-bg-low {
  text-shadow: 0 0 20px #61b0ff3e;
}

.shiny-glow-low::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 2px;
  opacity: 0.1;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 1));
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  z-index: 50;
}

.shiny-glow-low {
  position: relative;
}